{% extends "admin/change_list.html" %}

{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'custom_admin/css/custom.css' %}">
{% endblock %}

{% block content %}
<div id="content-main">
    <h1>{{ title }}</h1>
    <div id="changelist-form-container">
        <form id="changelist-form" method="post" novalidate>{% csrf_token %}
            {{ cl.formset.management_form }}
            {% if cl.formset %}
            <div>
                {{ cl.formset.non_form_errors }}
                {{ cl.formset }}
            </div>
            {% endif %}
            <div class="actions">
                {% if cl.show_add %}
                <ul class="object-tools">
                    <li>
                        <a href="{{ cl.url_for_add }}" class="addlink">{{ cl.add_text }}</a>
                    </li>
                </ul>
                {% endif %}
                {% if cl.result_count %}
                <div class="scrolling-contents">
                    {{ cl.result_count }} результатів ({{ cl.result_list|length }} на цій сторінці)
                </div>
                <div>
                    {{ result_count }} результатів ({{ result_list|length }} на цій сторінці)
                </div>
                <div class="results">
                    <table cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                {% for header in cl.result_headers %}
                                <th{% if header.attr %} {{ header.attr }}{% endif %}>{{ header.text|safe }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in cl.result_list %}
                            <tr class="{% cycle 'row1' 'row2' %}">
                                {% for item in result.items %}
                                <td{% if item.attr %} {{ item.attr }}{% endif %}>{{ item.text|safe }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <p>{% trans "No entries found" %}.</p>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
