{% extends "admin/change_list.html" %}

{% load static %}
{% load i18n %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'custom_admin/css/custom.css' %}">
{% endblock %}

{% block content %}
<div class="app-{{ opts.app_label }} {{ opts.model_name }}">
    <h1>{{ title }}</h1>
    <div class="module" id="changelist">
        {% if cl.formset %}
            <form method="post" action="{% url cl.opts.admin_url %}{% if cl.is_popup %}?_popup=1{% endif %}">
                {% csrf_token %}
                <div class="actions">
                    <input type="submit" value="{% trans 'Save changes' %}">
                </div>
                {% if cl.result_count %}
                <div class="results">
                    {{ cl.result_list }}
                </div>
                {% else %}
                <p>{% trans "No entries found" %}.</p>
                {% endif %}
            </form>
        {% else %}
        <p>{% trans "No entries found" %}.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
